<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="API.RestAssured.Get_Request"/>
      <class name="API.RestAssured.Post_Request"/>
       <class name="API.RestAssured.Put_Request"/>
       <class name="API.RestAssured.patch_Request"/>
       <class name="API.RestAssured.delete_Request"/>
     
       
     
    </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->


